:root[uidensity=compact] #navigator-toolbox {
  --nav-bar-height: 33px;
  --bookmark-bar-height: 23px;
  --navbar-transition-time: 0.1s;
  --toolbar-buttons: 1;
}

:root:not([uidensity]) #navigator-toolbox {
  --nav-bar-height: 39px;
  --bookmark-bar-height: 23px;
  --navbar-transition-time: 0.1s;
  --toolbar-buttons: 1;
}

:root[uidensity=touch] #navigator-toolbox {
  --nav-bar-height: 41px;
  --bookmark-bar-height: 25px;
  --navbar-transition-time: 0.1s;
  --toolbar-buttons: 1;
}

:root:not([customizing]) #nav-bar, #PersonalToolbar {
  z-index: 1;
  display: flex !important;
  position: fixed !important;
  min-height: 0 !important;
  height: 0 !important;
  width: 100%;
  opacity: 1;
  transition: opacity var(--navbar-transition-time) ease-in, height var(--navbar-transition-time) ease-out !important;
  pointer-events: none;
}

:root:not([customizing]) #nav-bar
{
  transition-delay: var(--navbar-transition-time) !important;
  z-index: 10;
}

:root:not([customizing]) #navigator-toolbox:hover #nav-bar,
:root:not([customizing]) #navigator-toolbox:focus-within #nav-bar {
  transition-delay: 0s !important;
  height: var(--nav-bar-height) !important;
  opacity: 1;
  pointer-events: all;
}

/* If the bookmarks bar is turned on, auto-hide that too */
:root:not([customizing]) #PersonalToolbar {
  margin-top: var(--nav-bar-height) !important;
}

:root:not([customizing]) #navigator-toolbox:hover #PersonalToolbar,
:root:not([customizing]) #navigator-toolbox:focus-within #PersonalToolbar {
  transition-delay: var(--navbar-transition-time) !important;
  height: var(--bookmark-bar-height) !important;
  opacity: 1;
  pointer-events: all;
}

/* haxx for the menu button */
:root:not([customizing]) #nav-bar #nav-bar-customization-target {
  width: calc(100% - (35px * var(--toolbar-buttons)));
}

:root:not([customizing]) #PanelUI-button {
  height: 100%;
}

:root:not([customizing]) #PanelUI-button .toolbarbutton-badge-stack,
:root:not([customizing]) #PanelUI-button .toolbarbutton-badge-stack .toolbarbutton-icon {
  display: block;
}

#nav-bar {
	box-shadow: none !important;
}

#navigator-toolbox {
	border-bottom: none !important;
}

.tabbrowser-tab {
  height: 32px;
}

.tab-content {
  padding-bottom: 1px !important;
}

#navigator-toolbox {
	--tabs-border-color: var(--lwt-accent-color) !important;
}

#browser {
  transition: all var(--navbar-transition-time) ease-out !important;
  padding-top: 0 !important;
  transform: translate(0,0);
}

:root:not([customizing]) #navigator-toolbox:hover + #browser,
:root:not([customizing]) #navigator-toolbox:focus-within + #browser {
  transition-delay: 0s !important;
  transform: translate(0,33px);
}

:root:not([customizing]) #navigator-toolbox:hover ~ #browser,
:root:not([customizing]) #navigator-toolbox:focus-within ~ #browser {
  transition-delay: 0s !important;
  transform: translate(0,33px);
}
