@-moz-document domain(scele.cs.ui.ac.id) {
  :root {
    /* primary: warna teks yang aslinya oren */
    /* primary-light: warna teks yang aslinya oren (hover) */
    /* primary-dark: warna aksen tombol search dan SCELE di navbar */
    /* primary-dark-2: warna aksen ketika hover menu di navbar */
    /* secondary: warna background utama */
    /* secondary: warna background kanan untuk header */
    /* secondary-dark: warna background kalender yang ada deadline-nya */
    /* secondary-light: warna background dari menu clock, calendar, postingan forum, dll */
    /* secondary-light-2: warna background navbar dan search forum */
    /* secondary-light-3: warna border dari menu clock, calendar, postingan forum, dll */
    /* button: warna button login dan tambahkan forum diskusi */
    /* button-hover: warna button untuk hover */
    /* teks: warna teks utama */
    --warna-primary: #e8ad1c;
    --warna-primary-light: #ffee65;
    --warna-primary-dark: #e2a500;
    --warna-primary-dark-2: #c48f00;
    --warna-secondary: #14181a;
    --warna-secondary-header: #14181a;
    --warna-secondary-dark: #0f1214;
    --warna-secondary-light: #1a2024;
    --warna-secondary-light-2: #212d35;
    --warna-secondary-light-3: #33383b;
    --warna-button: #8ec63f;
    --warna-button-hover: #77ae29;
    --warna-teks: #bfbfbf;
    --warna-teks-gelap: #0f1214;
    --warna-negatif: #682222;
    --warna-positif: #3d5931;
  }
  .formulation .incorrect {
    background-color: var(--warna-negatif);
  }
  .formulation .correct {
    background-color: var(--warna-positif);
  }
  .que.essay .qtype_essay_response.readonly {
    background-color: var(--warna-secondary-light-2);
  }
  span[style^="color:#000000"] {
    color: var(--warna-teks) !important;
  }
  .texrender {
    filter: invert();
  }
  .que .info {
    background-color: var(--warna-secondary-light);
    border: 1px solid var(--warna-secondary-light-2);
  }
  .que .formulation {
    background: var(--warna-secondary-light) none repeat scroll 0 0;
    color: var(--warna-teks);
  }
  .que .formulation, .que .outcome, .que .comment {
    text-shadow: none;
  }
  .qn-container .qn-answer {
    color: var(--warna-teks);
  }
  #page-mod-questionnaire-complete .c0, #page-mod-questionnaire-preview .c0, #page-mod-questionnaire-print .c0, #page-mod-questionnaire-report .individual .c0, #page-mod-questionnaire-myreport .individual .c0 {
    background-color: transparent;
    border: none;
  }
  #page-mod-questionnaire-complete .c1, #page-mod-questionnaire-preview .c1, #page-mod-questionnaire-print .c1, #page-mod-questionnaire-report .individual .c1, #page-mod-questionnaire-myreport .individual .c1 {
    background-color: transparent;
    border: none;
  }
  span[style^="background-color"] {
    color: var(--warna-teks-gelap);
  }
  #wrapper {
    border-top: 4px solid var(--warna-primary-dark);
  }
  #page-footer .content a, #page-footer .footerlinks a {
    color: var(--warna-primary);
  }
  button, .btn, .btn-default, input.form-submit, input[type="button"], input[type="submit"], input[type="reset"], input.form-submit, input#id_submitbutton, input#id_submitbutton2, .path-admin .buttons input[type="submit"], td.submit input, .submit.buttons input[name="cancel"], #notice .singlebutton+.singlebutton input {
    background-color: var(--warna-button);
  }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    background-color: var(--warna-button-hover) !important;
  }
  button:hover, button:focus, button:active, .btn:hover, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default, input.form-submit:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, button:focus, input.form-submit:focus, input[type="button"]:focus, input[type="submit"]:focus, input[type="reset"]:focus, button.active, input.form-submit.active, input.active[type="button"], input.active[type="submit"], input.active[type="reset"], button:active, input.form-submit:active, input[type="button"]:active, input[type="submit"]:active, input[type="reset"]:active, input.form-submit:hover, input#id_submitbutton:hover, input#id_submitbutton2:hover, .path-admin .buttons input[type="submit"]:hover, td.submit input:hover, input.form-submit:focus, input#id_submitbutton:focus, input#id_submitbutton2:focus, .path-admin .buttons input[type="submit"]:focus, td.submit input:focus, input.form-submit:active, input#id_submitbutton:active, input#id_submitbutton2:active, .path-admin .buttons input[type="submit"]:active, td.submit input:active, input.form-submit.active, input#id_submitbutton.active, input#id_submitbutton2.active, .path-admin .buttons input.active[type="submit"], td.submit input.active, input.form-submit.disabled, input#id_submitbutton.disabled, input#id_submitbutton2.disabled, .path-admin .buttons input.disabled[type="submit"], td.submit input.disabled, input.form-submit[disabled], input#id_submitbutton[disabled], input#id_submitbutton2[disabled], .path-admin .buttons input[type="submit"][disabled], td.submit input[disabled], #notice .singlebutton+.singlebutton input:hover {
    background-color: var(--warna-button-hover);
  }
  .qn-content>.generaltable {
    color: var(--warna-teks);
  }
  .forumpost .author::before {
    color: var(--warna-primary-dark);
  }
  .navbar .nav-divider-left {
    opacity: 0;
  }
  .breadcrumb-button input[type="submit"]:hover {
    background: var(--warna-primary-dark-2);
  }
  .breadcrumb-button input[type="submit"] {
    background: var(--warna-primary-dark);
  }
  .navbar .dropdown-menu {
    border-bottom: 4px solid var(--warna-primary-dark);
  }
  .navbar .dropdown-menu>li>a:hover, .navbar .dropdown-menu>li>a:focus {
    background-color: var(--warna-primary-dark-2);
  }
  .navbar .nav>li>a:focus, .navbar .nav>li>a:hover, .navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus, .navbar .nav li.dropdown.open>.dropdown-toggle, .navbar .nav li.dropdown.active>.dropdown-toggle, .navbar .nav li.dropdown.open.active>.dropdown-toggle {
    background-color: var(--warna-primary-dark-2);
  }
  #page-footer {
    border-top: 3px solid var(--warna-primary-dark);
  }
  #section-0 .content>h3.sectionname {
    border-bottom: 2px solid var(--warna-primary-dark);
  }
  .navbar #search input[type="submit"] {
    background-color: var(--warna-primary-dark);
  }
  .navbar .brand {
    background: var(--warna-primary-dark);
  }
  .path-mod-assign td.latesubmission, .path-mod-assign a:link.latesubmission, .path-mod-assign div.latesubmission {
    color: #ff5f53;
  }
  .section .activity .actions {
    background: none;
  }
  .togglecompletion>div>.btn {
    background-color: var(--warna-secondary-light-3);
  }
  .section .activity .actions {
    background: none;
  }
  .loginbox .loginform .form-input {
    background: var(--warna-secondary-light-2) none repeat scroll 0 0;
  }
  .loginbox #login {
    background: var(--warna-secondary) none repeat scroll 0 0;
  }
  .loginbox .forgetpass {
    background-color: var(--warna-secondary-light);
  }
  .coursebox {
    border: 1px solid #eee;
    border-radius: 0;
    border-left: 2px solid var(--warna-primary-dark);
  }
  .coursebox>.info>.coursename a, .coursebox>.info>.name a {
    color: inherit;
  }
  .courses .coursebox:hover, .courses .coursebox.even:hover, .course_category_tree .courses>.paging.paging-morelink:hover {
    background-color: var(--warna-secondary-light-3);
  }
  .courses .coursebox.collapsed {
    border: 1px solid var(--warna-secondary-light-3);
  }
  .course_category_tree .category>.info {
    background-color: var(--warna-secondary-light);
    border: 1px solid var(--warna-secondary-light-3);
  }
  .back-to-top {
    color: var(--warna-primary-dark) !important;
    opacity: 0.8;
  }
  .fa-3x {
    font-size: 2.4em;
  }
  .path-mod-assign td.earlysubmission, .path-mod-assign div.earlysubmission {
    color: #8ec63f;
  }
  #page-header>.container-fluid>.row-fluid {
    background-image: linear-gradient(to right, #333333 30%, var(--warna-secondary-header) 60%);
  }
  #yui_3_17_2_1_1548555930636_50 {
    color: #999999;
  }
  #section-0 .content>h3.sectionname {
    border-top: none;
    box-shadow: none;
  }
  .block .content h3 {
    text-shadow: none !important;
  }
  abbr[title], abbr[data-original-title] {
    border-bottom: none;
    text-decoration: none;
  }
  .path-calendar .maincalendar .eventlist .event .description {
    background-color: transparent;
  }
  .highlight {
    background: var(--warna-secondary-dark);
  }
  .path-mod-assign td.submissionnotgraded, .path-mod-assign div.submissionnotgraded {
    color: inherit;
    background-color: #efefef;
  }
  .path-mod-assign td.submissionstatussubmitted, .path-mod-assign div.submissionstatussubmitted, .path-mod-assign a:link.submissionstatussubmitted {
    color: inherit;
    background-color: #cfefcf;
  }
  table.flexible th, .generaltable th, table.flexible td, .generaltable td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid var(--warna-secondary-light-3);
  }
  inptextarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    background-color: var(--warna-secondary-light-2);
    color: white;
    border: 1px solid var(--warna-secondary-light-3);
  }
  .well, .card {
    background-color: var(--warna-secondary-light);
    border: 1px solid var(--warna-secondary-light-3);
  }
  .block_myoverview .well {
    background-color: var(--warna-secondary-light);
  }
  #block_progress_serverTime {
    color: white;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.03rem;
  }
  .jsenabled .usermenu .moodle-actionmenu.show .menu::after {
    border-bottom: 6px solid var(--warna-secondary-light);
  }
  .moodle-actionmenu.show[data-enhanced] .menu {
    border: 1px solid var(--warna-secondary-light-3);
    border-radius: 2px;
  }
  .moodle-actionmenu[data-enhanced].show .menu {
    background-color: var(--warna-secondary-light);
  }
  .jsenabled .usermenu .moodle-actionmenu>.menu .filler {
    background-color: transparent;
    border-bottom: 1px solid var(--warna-secondary-light-3);
  }
  .moodle-actionmenu.show[data-enhanced] .menu a {
    color: var(--warna-teks);
  }
  #tinymce {
    background-color: var(--warna-secondary);
  }
  #id_message_ifr {
    background-color: white !important;
    color: black;
  }
  table#form td.submit, .form-buttons, .path-admin .buttons, #fitem_id_submitbutton, .fp-content-center form+div, div.backup-section+form, #fgroup_id_buttonar {
    background-color: transparent;
  }
  .popover.top .arrow::after {
    border-top-color: var(--warna-secondary-light-3);
  }
  .popover {
    background-color: var(--warna-secondary-dark);
    border: solid 1px var(--warna-secondary-light-3);
  }
  .popover-title {
    background-color: transparent;
    border-bottom: solid 1px var(--warna-secondary-light-3);
  }
  .block .header .title h2::before {
    background-color: transparent !important;
    color: var(--warna-primary-dark);
    border: solid 1px;
  }
  .block_calendar_upcoming .header .title h2::before, .block_calendar_month .header .title h2::before {
    color: #008ecd;
  }
  .block_navigation .header .title h2::before {
    color: #EB3D00;
  }
  .block_settings .header .title h2::before, .block_admin_bookmarks .header .title h2::before {
    color: #BD1A8D;
  }
  .block_activity_modules .header .title h2::before {
    color: #EB3D00;
  }
  .block_recent_activity .header .title h2::before {
    color: #38B9EC;
  }
  .block_course_list .header .title h2::before {
    color: #ffce00;
  }
  .block_html .header .title h2::before {
    color: #8EC63F
  }
  .block_search_forums .header .title h2::before {
    color: #ffce00;
  }
  .navbar {
    /* background-image: linear-gradient(to right, var(--warna-secondary-light-2), var(--warna-secondary-light)); */
    background-color: var(--warna-secondary-light-2);
  }
  .navbar-inner {
    background: transparent;
  }
  .navbar-inner>.container-fluid {
    background: transparent;
  }
  #loggedin-user .usertext {
    font-size: 1rem;
    max-width: 300px;
    font-weight: 500;
    letter-spacing: 0.04rem;
  }
  .profileblock .welcome_userpicture {
    border-radius: 100vh;
    margin: 10px;
    margin-left: 15px;
    width: 70px;
    height: 70px;
  }
  #loggedin-user {
    display: flex;
    align-items: center;
  }
  .logo {
    margin: auto 0;
  }
  .logo-header {
    display: flex;
    height: 100%;
  }
  a.logo img {
    max-height: 50px;
  }
  .block {
    background: var(--warna-secondary-light);
    border: 1px solid var(--warna-secondary-light-3);
  }
  #fgroup_id_buttonar {
    background: var(--warna-secondary);
  }
  .mform legend a {
    color: var(--warna-teks);
  }
  .navbar .dropdown-menu>li>a {
    color: var(--warna-teks);
  }
  .navbar .dropdown-menu {
    background-color: var(--warna-secondary-light);
  }
  .jsenabled .usermenu .moodle-actionmenu.show .menu a:hover {
    background-color: var(--warna-secondary-light-3);
    color: var(--warna-teks);
  }
  table.collection, table.collection * {
    border: none !important;
  }
  table.collection tbody>tr:nth-child(2n+1)>td, table.collection tbody>tr:nth-child(2n+1)>th {
    background-color: var(--warna-secondary-light);
  }
  table#explaincaps tbody>tr:nth-child(2n+1)>td, table#defineroletable tbody>tr:nth-child(2n+1)>td, table.grading-report tbody>tr:nth-child(2n+1)>td, table#listdirectories tbody>tr:nth-child(2n+1)>td, table.rolecaps tbody>tr:nth-child(2n+1)>td, table.userenrolment tbody>tr:nth-child(2n+1)>td, table#form tbody>tr:nth-child(2n+1)>td, form#movecourses table tbody>tr:nth-child(2n+1)>td, #page-admin-course-index .editcourse tbody>tr:nth-child(2n+1)>td, .forumheaderlist tbody>tr:nth-child(2n+1)>td, table.flexible tbody>tr:nth-child(2n+1)>td, .generaltable tbody>tr:nth-child(2n+1)>td, table#explaincaps tbody>tr:nth-child(2n+1)>th, table#defineroletable tbody>tr:nth-child(2n+1)>th, table.grading-report tbody>tr:nth-child(2n+1)>th, table#listdirectories tbody>tr:nth-child(2n+1)>th, table.rolecaps tbody>tr:nth-child(2n+1)>th, table.userenrolment tbody>tr:nth-child(2n+1)>th, table#form tbody>tr:nth-child(2n+1)>th, form#movecourses table tbody>tr:nth-child(2n+1)>th, #page-admin-course-index .editcourse tbody>tr:nth-child(2n+1)>th, .forumheaderlist tbody>tr:nth-child(2n+1)>th, table.flexible tbody>tr:nth-child(2n+1)>th, .generaltable tbody>tr:nth-child(2n+1)>th {
    background: var(--warna-secondary-light);
  }
  table#explaincaps tbody>tr:nth-child(2n)>td, table#defineroletable tbody>tr:nth-child(2n)>td, table.grading-report tbody>tr:nth-child(2n)>td, table#listdirectories tbody>tr:nth-child(2n)>td, table.rolecaps tbody>tr:nth-child(2n)>td, table.userenrolment tbody>tr:nth-child(2n)>td, table#form tbody>tr:nth-child(2n)>td, form#movecourses table tbody>tr:nth-child(2n)>td, #page-admin-course-index .editcourse tbody>tr:nth-child(2n)>td, .forumheaderlist tbody>tr:nth-child(2n)>td, table.flexible tbody>tr:nth-child(2n)>td, .generaltable tbody>tr:nth-child(2n)>td, table#explaincaps tbody>tr:nth-child(2n)>th, table#defineroletable tbody>tr:nth-child(2n)>th, table.grading-report tbody>tr:nth-child(2n)>th, table#listdirectories tbody>tr:nth-child(2n)>th, table.rolecaps tbody>tr:nth-child(2n)>th, table.userenrolment tbody>tr:nth-child(2n)>th, table#form tbody>tr:nth-child(2n)>th, form#movecourses table tbody>tr:nth-child(2n)>th, #page-admin-course-index .editcourse tbody>tr:nth-child(2n)>th, .forumheaderlist tbody>tr:nth-child(2n)>th, table.flexible tbody>tr:nth-child(2n)>th, .generaltable tbody>tr:nth-child(2n)>th {
    background: var(--warna-secondary);
  }
  .courses .coursebox.even {
    background-color: var(--warna-secondary-light);
  }
  .calendar_event_course {
    background: var(--warna-secondary-dark);
  }
  a, a:visited, a.active, a:focus, #page-mod-scorm-player .breadcrumb-button a {
    color: var(--warna-primary);
  }
  a:hover {
    color: var(--warna-primary-light);
  }
  body {
    color: var(--warna-teks);
  }
  .block .header .title h2, .block h3.main {
    color: var(--warna-teks);
  }
  .block ul.block_tree a, .breadcrumb a, .instancename {
    color: var(--warna-teks);
    ;
  }
  h1, h2, h3, h4, h5, h6, .back-to-top, .socials p, #socialheading, .forumpost .subject {
    color: var(--warna-teks);
  }
  .block .header .title {
    background: none;
    border-bottom: solid 1px var(--warna-secondary-light-3);
  }
  #site-news-forum, #frontpage-course-list, #frontpage-category-combo, #frontpage-category-names {
    background: none;
    border-top: solid 1px var(--warna-secondary-light-3);
  }
  .course-content ul li.section.main {
    background: none;
    border-top: solid 1px var(--warna-secondary-light-3);
  }
  .content h3.sectionname {
    background: var(--warna-secondary-light);
    border-color: var(--warna-secondary-light-3) var(--warna-secondary-light-3) var(--warna-secondary-light-3) var(--warna-primary-dark);
  }
  .forumpost, .coursebox {
    background: var(--warna-secondary-light);
    border: 1px solid var(--warna-secondary-light-3);
  }
  #mceContentBody {
    color: var(--warna-secondary);
  }
  #wrapper {
    background: var(--warna-secondary);
  }
  #page, html {
    background: var(--warna-secondary);
  }
  .pagelayout-report .hidden-blocks {
    background: var(--warna-secondary);
  }
  .course-content .current {
    background: var(--warna-secondary) !important;
  }
  .course-content .current .content {
    background: var(--warna-secondary) !important;
  }
  select {
    color: var(--warna-teks);
    background: var(--warna-secondary-light);
    border: 1px solid var(--warna-secondary-light-3);
  }
  .navbar #search input {
    background: var(--warna-secondary-light);
  }
  .path-course-view .unread, span.unread {
    background-color: transparent;
    padding: 4px;
    padding-right: 9px;
    border: 1px solid var(--warna-primary);
    border-radius: 100vh;
  }
  .forumpost.unread .row.header {
    background-color: transparent;
    padding: 4px;
    border: 1px solid var(--warna-primary);
    border-radius: 4px;
    max-width: calc(100% - 10px);
  }
  span.unread {
    border: none;
  }
}