:root {
  --gelap : #16171a;
  --tengah: #23272c;
  --terang: #1a1c1e;
  --icon: #9a9da9;
  --button: #23272c;
}

.uo5MA._2ciX.tWgj8.XWrBI {
  background: none !important;
}

.AvhYw {
	background: var(--tengah) !important;
	border: 1px solid rgba(var(--terang),1);
}

.TOh1s {
  background: none !important;
}

._01UL2 {
	background: var(--tengah) !important;
}

a.FPmhX.MBL3Z {
	color: #7eb8e9 !important;
}

._7mese, ._0ZPOP, ._5fEvj, .K_WbV, .ODqc_, .TAvXg, .cwB7a, .dFPOx, .CE8hu, .Hg3oE, .kQqyt, .buoMu .efNlB, .bMltT, .ptsdu, ._4LVjf, .NXVPg, .t98Id, .RuQjm, .coreSpriteDesktopNavProfile, .coreSpriteDesktopNavExplore, .NXSaZ, .coreSpriteOptionsEllipsis, .coreSpriteSaveStory, .coreSpriteDesktopProfileIGTVActive, .felixSpriteProfileChannelNullState, .felixSpriteOnboardingCreateYourChannel, .felixSpriteOnboardingBuiltForVertical, .felixSpriteOnboardingShareLongerVideos, .coreSpriteDesktopPhotoGridActive, .coreSpriteDesktopProfileTaggedActive, .glyphsSpriteUser__outline__24__grey_9, .glyphsSpriteSafari__outline__24__grey_9, .glyphsSpriteCompass__outline__24__grey_9 {
	filter: none !important;
}

.vqgRc {
  color: rgb(204, 204, 204) !important;
}

._8Rm4L .ekfSF {
	/* transform: translateY(-18px) !important; */
}

.Ckrof {
  align-self: center;
}

.BI4qX {
	background: none !important;
}

._9AhH0 {
  display: none !important;
}

.POSa_, .Kf8kP {
	filter: none !important;
}

.Igw0E.IwRSH.eGOV_._4EzTm._5VUwz.ZUqME > * {
  height: 400px !important;
}

._8-yf5:not([aria-label="Unlike"]) {
	fill: var(--icon);
}

/*login*/
.gr27e {
  background-color: #2f2f2f;
  border: 1px solid #2f2f2f;
}
.bTref {
  color: #a9a9a9;
  display: inline;
}
.swB58 {
  color: #b7b7b7;
}
._9GP1n {
  background: var(--gelap);
}
._9GP1n {
  color: #d8d8d8;
  border: 1px solid var(--gelap);
  background: var(--gelap);
}
.QNFpu {
  color: #e7e7e7;
}
.JGrci {
  color: white;
}
.swB58 {
  color: #b7b7b7;
}
.FATdn .pexuQ {
  color: #d6d6d6;
}
.izU2O,
.b_nGN {
  color: #c5c5c5;
}
.bTref {
  color: #a9a9a9;
}
._2hvTZ,
._9GP1n {
  background: var(--gelap);
}
._0r0cu {
  background: #2f2f2f;
  border: solid 1px #2f2f2f;
}
._lTir {
  background-color: var(--gelap);
}
._2hvTZ,
._9GP1n {
  background: var(--gelap);
}
.A4IYq {
  border: solid 1px #2f2f2f;
}


/*header*/
._lz6s {
  background-color: #2f2f2f;
  border-bottom: 1px solid #2f2f2f;
}
.XTCLo {
  border: solid 1px var(--gelap);
  border-radius: 3px;
  color: #d0d0d0;
}
.Di7vw {
  background: var(--gelap);
  border: solid 1px var(--gelap);
}
._7mese,
._0ZPOP,
._5fEvj,
.K_WbV,
.ODqc_,
.TAvXg,
.cwB7a,
.dFPOx,
.CE8hu,
.Hg3oE,
.kQqyt,
.buoMu .efNlB,
.bMltT,
.ptsdu,
._4LVjf,
.NXVPg,
.t98Id,
.RuQjm,
.coreSpriteDesktopNavProfile,
.coreSpriteDesktopNavExplore,
.NXSaZ,
.coreSpriteOptionsEllipsis,
.coreSpriteSaveStory,
.coreSpriteDesktopProfileIGTVActive,
.felixSpriteProfileChannelNullState,
.felixSpriteOnboardingCreateYourChannel,
.felixSpriteOnboardingBuiltForVertical,
.felixSpriteOnboardingShareLongerVideos,
.coreSpriteDesktopPhotoGridActive,
.coreSpriteDesktopProfileTaggedActive,
.glyphsSpriteUser__outline__24__grey_9,
.glyphsSpriteSafari__outline__24__grey_9,
.glyphsSpriteCompass__outline__24__grey_9 {
  filter: invert(100%);
}
.XajnB {
  background: var(--gelap);
}
.g6RW6 {
  background: var(--gelap);
  border-color: #323232;
}
._0T_XJ::before {
  left: 0;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(21, 21, 21, 0)), to(var(--gelap)));
  background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0), var(--gelap) 100%);
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), var(--gelap) 100%);
  z-index: 10;
}
._0T_XJ::after {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(var(--gelap)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), var(--gelap) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), var(--gelap) 100%);
  right: 0;
  z-index: 1;
}
.POSa_,
.Kf8kP {
  filter: invert(50%);
}

/*Home*/
.GIqfH {
  background-color: var(--gelap);
}
.AcVnq,
.KQA-S,
._1MzIy,
._3MPWk,
._8Rm4L,
.zMhqu {
  background-color: #2f2f2f;
}
.KQA-S,
._1MzIy,
._3MPWk,
._8Rm4L,
.zMhqu {
  border-radius: 3px;
  border: 1px solid #2f2f2f;
}
a.O4GlU,
a.O4GlU:visited {
  color: #969696;
}
.nJAzx,
.nJAzx:visited,
.jQgLo {
  color: #bdbdbd;
}
.gmFkV,
.gmFkV:active,
.gmFkV:focus,
.gmFkV:hover,
.gmFkV:visited {
  color: #b9b9b9;
  font-weight: 600;
}
._5mToa {
  border-top: 1px solid #444444;
}
.aD2cN::after {
  background-image: linear-gradient(to bottom, rgba(250, 250, 250, 0), var(--gelap) 100%);
}
.TlrDj,
.TlrDj:visited {
  color: #efefef;
}
.zV_Nj,
.zV_Nj:visited {
  font-weight: 600;
  color: #d2d2d2;
}
span {
  color: white;
}
a,
a:visited {
  color: #428ed8;
  text-decoration: none;
}
.sH9wk {
  border-top: 1px solid #5d5d5d;
}
.eLAPa {
  background-color: var(--gelap);
}
.UE9AK {
  border-bottom: 1px solid #2f2f2f;
}
.ho19H,
.ho19H:active,
.ho19H:focus,
.ho19H:hover,
.ho19H:visited {
  color: #d6d6d6;
}
.Ypffh {
  color: #d4d4d4;
}
.XTCLo {
  border: solid 1px #292929;
  background: #292929;
}
.drKGC::after {
  border-color: transparent transparent #292929;
}
.yCE8d {
  border-bottom: solid 1px #2f2f2f;
}
.drKGC {
  background: #292929;
  border: solid 1px #292929;
}
.JvDyy {
  background: #272727;
}
.g9vPa {
  border: solid 1px #292929;
}
.AC5d8 {
  color: #c7c7c7;
}

/*profiles*/
._6VtSN {
  color: #d6d6d6;
}
li,
.g47SY {
  color: #d6d6d6;
}
._32eiM,
._32eiM:visited {
  color: #d26624;
  font-weight: 500;
}
.rhpdm {
  display: inline;
  font-weight: 600;
  color: #b7b7b7;
}
._6oveC {
  background-color: #2f2f2f;
}
.oW_lN button,
.RPhNB {
  line-height: 16px;
  padding: 0 4px 0 0;
  color: gainsboro;
}
.JyscU .UE9AK {
  border-bottom: 1px solid #5d5d5d;
}
.JyscU .Slqrh {
  border-top: 1px solid #5d5d5d;
  margin: 0;
  order: 2;
  padding-top: 2px;
}
.YFq-A {
  color: #9e9e9e;
}
.yrJyr,
.yrJyr:visited {
  color: #dedede;
  font-weight: 600;
}
.vtWDf {
  background: var(--tengah);
  border: solid 1px var(--tengah);
}
.-fzfL {
  border-color: var(--button);
  color: #d0d0d0;
  background: var(--button);
}
.PUHRj::after {
  border-bottom: 1px solid #484848;
}
.T5hFd {
  border-color: transparent transparent var(--tengah);
  border-style: solid;
  border-width: 0 10px 10px;
  height: 0;
  top: 5px;
  left: 3px;
  width: 0;
  z-index: 12;
}
.l9tlA,
.zicn_ {
  background-color: #191919;
  border-bottom: 1px solid #2f2f2f;
}
.kzpmm {
  background: var(--gelap);
  border: 0;
  color: #bbbbbb;
}
.kzpmm:hover {
  background-color: #1b1b1b;
}
._8Rna9 {
  background-color: var(--gelap);
}
.HoLwm {
  color: #b3b3b3;
}
.aOOlW {
  background-color: var(--gelap);
  border-top: 1px solid #2d2d2d;
}
.jIbKX,
.m4t9r.jIbKX {
  background: var(--button);
  border-color: var(--button);
  color: #fff;
}
.DXv8P,
.DXv8P:visited {
  color: #cecece;
}
.t0fbY {
  background: #2f2f2f;
  border: solid 1px #2f2f2f;
}
._2dbep {
  background-color: #2f2f2f;
}

.WidCF,
._8VIOK,
.u9F97,
.OzqB_,
.WidCF::before {
  background-color: #383838;
}
#react-root,
body,
html {
  background: var(--gelap);
}
.fx7hk {
  border-top: 1px solid var(--button);
}
a.T-jvg,
a.T-jvg:visited {
  color: #d2d2d2;
}
.T-jvg {
  border-top: 1px solid #a7a7a7;
  color: #262626;
}
.wW1cu {
  border-right: 1px solid #2f2f2f;
  background: #2f2f2f;
}
.BvMHM {
  background-color: #272727;
  border: 1px solid #2f2f2f;
}
.-HRM- {
  border-left-color: #b34d00;
  font-weight: 600;
}
.h-aRd,
.h-aRd:active,
.h-aRd:hover,
.h-aRd:visited {
  color: #bfbfbf;
}
.fuQUr:hover {
  background-color: #272727;
  border-left-color: #7d3600;
}
.sxIVS,
.tiXqb {
  padding-right: 32px;
  text-align: right;
  color: #b1b1b1;
}
.psMFr,
.JLJ-B,
.p7vTm,
.zOJg- {
  border: 1px solid var(--gelap);
  color: #c7c7c7;
  background: var(--gelap);
}
._6yeSD {
  color: #b1b1b1;
}
.bt7LU:not(:last-child) {
  border-bottom: 1px solid #424242;
}
.ufStW {
  color: #c7c7c7;
}
.XAiP- {
  color: #bfbfbf;
}
.W_uFt {
  margin: 6px 10px;
  color: #b5b5b5;
}
._9WdVC:checked ~ .D7R7L::before {
  border-bottom: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
}
.o9-it {
  background-color: #2f2f2f;
  margin-left: -1px;
  margin-right: -1px;
}
.XAtZx {
  background-color: #2f2f2f;
  border-bottom: 1px solid #2f2f2f;
  padding: 20px 16px 8px;
}
.zsYNt,
.zsYNt:visited {
  color: #c1c1c1;
}
.NroHT {
  border-bottom: solid 1px #464646;
}
.JJF77 {
  color: #ccc;
}
.t48Bo {
  background: #2f2f2f;
  border-bottom: solid 1px #2f2f2f;
  color: #efefef;
}
.YHaCL {
  background: #2f2f2f;
}
._1xe_U,
.u_1x6 {
  border-radius: 3px;
  border: 1px solid #2f2f2f;
}
.pbNvD {
  background-color: var(--gelap);
}
._914pk {
  background: var(--button);
  border-bottom: solid 1px var(--button);
  color: #e0e0e0;
}
.ltEKP .QBXjJ {
  background-color: #2f2f2f;
  border: 1px solid #2f2f2f;
}
.cqXBL,
.cqXBL:visited,
.y9v3U {
  color: #d2d2d2;
}
.YlEaT {
  color: #bfbfbf;
}
._4Kbb_ {
  border: 1px solid #2f2f2f;
  background: #2f2f2f;
}
.NP414 {
  border: 1px solid #2f2f2f;
  background: var(--gelap);
}
.YQf7h {
  background: #2f2f2f;
  border: 1px solid #2f2f2f;
}
.Qj3-a,
.Qj3-a:visited {
  color: #d8d8d8;
}
.JyscU ._97aPb.wKWK0 {
  background-color: var(--tengah);
}
._7JZQt {
  background: #2f2f2f;
  border-radius: 50%;
  border: 1px solid rgb(47, 47, 47);
}
.UhO_X,
.oP6Lh {
  background: #2f2f2f;
  height: 14px;
}
._3Laht,
.o64aR {
  background-color: var(--gelap);
}
.VIsJD,
.rkEop {
  color: #b3b3b3;
}
.lEGIs {
  color: #b1b1b1;
}
._5jcYX {
  color: #989898;
}
._2-BdL {
  background-color: var(--gelap);
}
.abQyi {
  color: #d2d2d2;
}
.jBXZy {
  color: gainsboro;
}
.AHedW {
  filter: invert(100%);
}
.dCJp8 {
  filter: invert(100%);
}
.glyphsSpriteMore_horizontal__filled__24__grey_0,
.coreSpriteDesktopProfileSaveActive,
.glyphsSpriteHeart__filled__24__red_5 {
  filter: invert(100%);
}
.olKGW {
  color: #a9a9a9;
}
.jju9v {
  background-color: #2f2f2f;
  border-radius: 4px;
}
.IalUJ {
  border: 0;
  cursor: pointer;
  padding: 0;
  background: var(--gelap);
}
.KV-D4 {
  color: #b9b9b9;
}
._8A5w5 {
  color: #ffffff;
}
.-nal3,
.-nal3:hover {
  color: #b3b3b3;
}
a.F2iT8 {
  color: #efefef;
}
.cgig_ {
  color: #d4d4d4;
}
.yWX7d._8A5w5 {
  color: #d6d6d6 !important;
}
.zyHYP {
  border: 1px solid var(--gelap);
  color: #c7c7c7;
  background: var(--gelap);
}
.PLphk {
  color: #999;
}
._4UXK0 {
  border: 1px solid #151515;
  background: #151515;
  color: #d4d4d4;
}
.WYMWX {
  margin-bottom: 7px;
  color: #c5c5c5;
}
.L3NKy {
  background-color: #333333;
  color: #d6d6d6;
}
._8A5w5,
.sH_mn {
  border: 1px solid #333333;
}
.HoverCard {
  display: none;
}
a.Likes,
a.Comments,
span.Sprite.embedSpriteGlyph.hideText {
  filter: invert(100);
}
.SocialProof > a,
a.CaptionUsername {
  color: #ccc;
}
.Caption {
  color: #888
}
._0imsa,
._0imsa:visited {
  color: #f8f8f8;
}
.m82CD {
  color: white;
}
.eiUFA {
  border-bottom: 1px solid #2e2e2e;
  background: #2e2e2e;
  border-radius: 10px 10px 0px 0px;
}
.L3NKy,
a.L3NKy,
a.L3NKy:visited {
  border: 1px solid #575757;
}
.Nd_Rl,
.fx7hk {
  border-top: 1px solid #2f2f2f;
}
.yVvXQ {
  color: #f8f8f8;
  font-weight: 600;
}
.j_2Hd {
  border: 1px solid #202020;
  background: #202020;
  color: #d4d4d4;
}
.ufG8g,
.yMV6Z {
  font-size: 16px;
  font-weight: 400;
  color: #cecece;
}
.SvO5t {
  background-color: #ffffff;
}
.glyphsSpriteApp_instagram__outline__24__grey_9 {
  filter: invert(100%);
}
.cq2ai {
  filter: invert(100%);
}
.b2rUF {
  border: 1px solid #2f2f2f;
  background: #2f2f2f;
}
.HVWg4 {
  background: #2f2f2f;
  border-radius: 13px;
}
.GBPOY,
.bR_3v:not(.Fzijm) {
  background-color: #2f2f2f;
  border: 1px solid #4a4a4a;
}


/* fixed by ZaiA */
.coreSpriteSaveNull,
.coreSpriteTaggedNull,
.coreSpriteActivityHeart,
.coreSpriteAddText {
  filter: invert(100%);
}
/* fixed by ZaiA -- */
.eShHj {
  background-color: #393939!important;
}
.SZRPf {
  color: #d3d3d3;
}
._-9WeM {
  background-color: #2f2f2f;
}
.glyphsSpriteShare_facebook,
.glyphsSpriteShare_messenger,
.glyphsSpriteShare_twitter {
  border-radius: 16px;
}
/*new invert*/
.glyphsSpriteLink__outline__24__grey_9,
.glyphsSpriteMail__outline__24__grey_9, .glyphsSpriteCircle__outline__24__grey_2, .glyphsSpriteCircle_add__outline__24__grey_5, .glyphsSpriteDirect__outline__96, .glyphsSpriteDownload_2FAC {
  filter: invert(100%);
}
/*--*/
.mOBkM {
  border-color: #2f2f2f;
}
._6xe7A {
  background: #2f2f2f;
}
.pbNvD {
  background-color: #2f2f2f;
}
.mOBkM {
  border-color: #2f2f2f;
}

._41KYi {
  background: var(--gelap);
  border: 1px solid var(--gelap);
}
.Nm9Fw {
  color: #bebebe;
}
a,
a:visited,
._3G4x7 {
  color: #d7d7d7;
}
/*Scrollbar by jaaneh */
::-webkit-scrollbar-track-piece {
  background-color: #2f2f2f;
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0) !important;
  border-radius: 0 !important;
  border: none !important;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #505050;
}
::-webkit-scrollbar-thumb:hover {
  background: #444;
}
/*Scrollbar by jaaneh -- */
._4l6NB {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 47, 47, 0)), to(#2f2f2f00));
  background-image: -webkit-linear-gradient(left, rgba(47, 47, 47, 0), #2f2f2f00);
  background-image: linear-gradient(to right, rgba(47, 47, 47, 0), #2f2f2f00);
}
.JyscU.ePUX4 .eo2As,
.JyscU.ePUX4 .UE9AK {
  border-left: 1px solid #2f2f2f;
}
.QOqBd {
  background-color: #383838;
}
.hI7cq,
.hI7cq:visited {
  color: #dbdbdb;
}
.fZC9e {
  background-color: #2c2c2c;
}
.QxuJw {
  border-bottom: solid 1px #757575;
}
.d-Vzv {
  border: 1.5px solid #979797;
}
.glyphsSpriteAdd_friend__outline__96 {
  filter: invert(0.7);
}
.zGtbP {
  background: var(--gelap);
  border-bottom: 1px solid var(--gelap);
}
._0G-TY {
  color: #ececec;
}
.RucPH,
.RucPH:visited {
  color: #ececec;
}
.pKCwU {
  color: #d5d5d5;
}
.iXT5c {
  background: #292929;
}
.HYpXt.pbNvD {
  background: #292929;
}

.HcJZg {
  background: var(--gelap);
}
.BYCcJ {
  background: #333;
}
.IEk8l {
  color: #eaeaea;
}
.Eo_F0 {
  border-bottom: solid 1px var(--button);
}
.KAWZr {
  border: solid 1px var(--button);
}

.Igw0E.IwRSH.eGOV_._4EzTm.MGdpg.aGBdT {
  background: transparent;
}
.nsKSz {
  color: #bfbfbf !important;
}
.KVrxL {
  color: #bfbfbf !important;
}
.CcMMZ {
  color: #bfbfbf !important;
}
hr.W4P49 {
  background: #3f3f3f !important;
}
._0T_XJ {
  background: var(--gelap);
}
.tHaIX.Igw0E.IwRSH.eGOV_.vwCYk.HcJZg {
  background: var(--gelap);
}
.Igw0E.rBNOH.eGOV_._4EzTm.L-sTb.HcJZg {
  border: solid 1px #323232;
  border-radius: 4px;
}
.LFGs8 {
  color: #5094ce
}
.zGtbP {
  border: solid 1px #323232 !important;
  border-radius: 4px;
}
.HVWg4 {
  background: transparent;
}
._0ZPOP {
  filter: invert(0) !important;
}
.hUQsm {
  border: var(--tengah) !important;
  background: var(--tengah) !important;
}
.oZBNB {
  border: 1px solid #ffffff;
}
/* Direct Mesages */
._3wFWr {
  background: var(--gelap);
}
.TGYkm {
  border-bottom: 1px solid #2e2e2e;
}
.-qQT3:hover {
  background-color: #232323;
}
.BI4qX {
  background: #383838;
}
.oYYFH {
  background: var(--gelap);
}
.N9abW, .nGS-Y, .oNO81, .HcJZg, .uueGX, ._9XapR, .fDdiY, .DPiy6 {
  background: var(--terang);
}
.S-mcP {
  background-color: #2f2f2f;
  border-bottom: 1px solid #2f2f2f;
}
.m7ETg {
  color: #e6e6e6;
}
.oNO81 {
  border-right: 1px solid #2f2f2f;
}
.y3zKF:not(.yWX7d), a.y3zKF:not(.yWX7d), a.y3zKF:not(.yWX7d):visited {
  background-color: #3c3c3c;
}
.X3a-9 {
  border-color: var(--button);
}
textarea {
  color: #f3f3f3;
}
.CMoMH {
  border: 1px solid #2f2f2f;
}
.g6RW6 {
  background: #2f2f2f;
  border-color: #2f2f2f;
}
._7zBYT {
  border-bottom: 1px solid #2f2f2f;
}
._8A5w5, .sH_mn{
  border: 0px;
}
.QOqBd {
  background-color: #292929;
}
.pV7Qt {
  border: 1px solid #2f2f2f;
}
.JLbVX {
  color: white;
}
/* Fixes provided by the community over Discord */
.-cx-PRIVATE-NavBarroot, .JyscU ._97aPb.wKWK0, .HYpXt.pbNvD .DPiy6, .bR_3v:not(.Fzijm), .ltEKP .QBXjJ, .HYpXt.pbNvD, ._5Jsao, ._1MzIy, ._3MPWk, ._8IKqe, ._8Rm4L, ._41KYi,._6xe7A, .zGtbP, .s2MYR, .AcVnq, .zMhqu, .gr27e, .jLuN9, .jdnLC, .pbNvD, .KQA-S, .Z_y-9, .bR_3v, ._lz6s  {
  background-color: var(--tengah);
}
/* Fixes provided by the community over Discord --*/

.VcOAj, .HE3mO, .EIuhb, .RdURl, .kAlZ6, .qfAOE {
  background-color: #383838;
}
.HaS-3 {
  filter: invert(0.9);
}
.JrZbN {
  border-bottom: 1px solid #383838;
}
.XvoX1 {
  border-top: 1px solid #383838;
}
.tlZCJ:checked~.mwD2G::before {
  border-bottom: 2px solid #fff !important;
  border-left: 2px solid #fff !important;
}
.rb9ad:not(:last-child) {
  border-bottom: 1px solid #444 !important;
}
.zVbeI {
  border-bottom-color: #444 !important;
}
.JfBqt {
  border-bottom-color: #444 !important;
}
.g6RW6 {
  border-radius: 0.30rem !important;
  padding-left: 0.65rem !important;
}
.iXT5c {
  background: #2f2f2f !important;
  border-radius: 0.30rem !important;
}
/* REMINDER: This code needs some serious cleanup */
