.css-1y7ij32 {
  transform: translate(0,-30px);
}

.css-dhjoyy {
  top: 0 !important;
}

#header-main-wrapper {
  height: 58px !important;
}

body {
	padding: 58px 0 0 0 !important;
}

.css-1guw5wo {
	inset: 58px 0px 0px !important;
}

.css-1nhyv9c, .css-i19toj, .css-1eh2a18, .css-18qxicu, .css-1fgoshi, .css-8dka1m, .css-ob7cy8, .css-j3twb5, .css-15knr2x {
	top: 58px !important;
}

.css-rkj0g6 {
  transform: translate(0,30px);
  inset: 28px 0px 0px;
}

.css-1e47a56.sticky {
	top: 50px;
}

.css-12nkv7 {
	transform: translate(0, -60px);
}
