div.back-to-top a img {
	height: 30px;
	width: 30px;
}

.shots-grid li div.dribbble::before {
	background: none !important;
}

.profile-simple-masthead .masthead-avatar {
	background: none !important;
}

.dribbble.disabled-shot-section {
  background: transparent !important;
}

body {
  background: var(--primary-bg) !important;
}

.container-large .shots-grid, .shots-grid.container-large {
	grid-gap: 25px;
}

.shot-thumbnail div.dribbble {
	filter: none !important;
}

#wrap .filter-categories li.category.active a, #wrap .filter-categories li.category a:hover {
	color: var(--main-brand) !important;
	background: rgba(235, 76, 137,0.08) !important;
}

:root {
	--main-brand: #EA4C89 !important;
	--main-brand-hover: #c12562 !important;
	--hyperlink-text: #EA4C89 !important;
	--hyperlink-text-hover: #c12562 !important;
}

.loading-more, .footer-mod > #shots-total {
  filter: hue-rotate(300deg);
}
