body
{
  color: #ccc;
}

.kXfeMy {
  background-color: #333333;
}


/* More space, header withot ads, etc */

#js-mount-point-header, .cqylHB
{
  min-height: 64px!important;
}

#wrapper
{
  width: 100%!important;
  max-width: 1520px!important;
}

#page-mypage, #contents
{
  display: flex!important;
  flex-flow: row nowrap!important;
  justify-content: center;
}

.ui-layout-east
{
  margin-left: 16px!important;
}

.contents-east
{
  display: flex!important;
  flex-flow: row nowrap!important;
  width: 100%!important;
}

.contents-main
{
  margin-right: 16px!important;
}

#item-container
{
  padding: 0 15px!important;
}

.info
{
  width: 90%!important;
}

#user-recommend-module
{
  text-align: center;
}

._mypage-pixivision .pixivision__list
{
  width: 100%;
}

.side-menu h1, section h1
{
  margin: 0!important;
  text-align: center!important;
}

.hRXAiG, .iujdgM
{
  height: 100%!important;
}

.hSotqY, .iuzWpe
{
  flex: 1!important;
}

.project_pixiv
{
  display: flex!important;
  flex-flow: row nowrap!important;
  justify-content: center!important;
  padding: 8px 24px!important;
}

.project-description
{
  flex: 1;
  width: auto!important;
}

.user-info  h1
{
  text-align: left!important;
}

/* Profile and illsutration page */
.gCYiBh, .kLIpMt
{
  max-width: 1640px!important;
}

.dGvrdG
{
  justify-content: center!important;
}

.bmQSxy
{
  max-width: 1500px;
  width: 100%;
}

.cKjbJy
{
  flex: 1;
}

/* Search page */

.fijVmL, .fvgLFc, .eqzstP
{
  width: 1640px;
}

.itihKp
{
  padding: 16px calc((100% - 1640px) / 2);
}

.kDrPCi
{
  grid-template-columns: repeat(8, 184px);
}

/* Following page */

.kOEgjz
{
  margin-top: 0;
  padding-top: 24px;
}


/*


COLORS


*/


/* Background level 1 body */

body,.iafWPr, .fQva-dy, html
{
  background: #222!important;
}

.tZJME, ._2isVlOM
{
  background-color: #222!important;
}

/* Background level 2 header, content  */

#js-mount-point-header, .RyuSz, .rounded, #item-container, ._profile-menu-unit, .ad-branding p, .side-menu, section.item, .footer, .ad-footer, .information, .iSNyjc, ._3CsQgM9, ._2n63ECI, ._9GTeZI7, .bFXRJE,
.jnMfkk, .gEjXWR, .koKXEc, .dUsaFg
{
  background: #333!important;
}

div#column-misc section.item ol.ranking > li:nth-child(odd)
{
  background: #393939!important;
}

/* Background level 3 any third element or side nav */

section h1, .NewsTop h1, ._profile-menu-unit ul.menu-item a:hover, .side-menu h1,.kVbaeL, .project_pixiv, ._profile-popup .user-info, ._profile-popup .items, .ldFHVN, .huMcET
{
  background: #444!important;
}

.hxpmAW, ._profile-popup .user-menu-items, .RGlU2JF, ._1QmZ6KR._3ZgfrP0, .lmnnAn, .hbysIF, .dxayIM, .V0JjOEV
{
  background: rgba(68, 68, 68, 0.98)!important;
}

.RGlU2JF:hover, ._1QmZ6KR._3ZgfrP0:hover
{
  background: rgba(91, 91, 91, .98)!important;
}

/* Background and color level 4 for inputs or anything relevant or hovers */

:root ._1OrT5--, ._3ZcKxKV, .ikxaqs:hover,  .ui-tag-container input, ._profile-popup .user-menu-items a:hover
{
  background: #555!important;
}

#item-container, ._profile-menu-unit, .side-menu, section.item, .rounded, .footer, .ad-footer, .information, ._profile-popup .items, ._profile-popup .user-info, ._profile-popup .items .item + .item,
._profile-popup .user-menu-items
{
  border-color: #555!important;
}









/* Text color level 1 (titles, headers) */

:root ._1OrT5--, ._3ZcKxKV, .eOAMHn, .duUNlO, .ikghia, .gLpGlh, .iUIgeq,  .tab-link.active, .tab-link:hover, .tab-link:visited:hover,  ._r18-selector-on-toppage .selector:hover,
._profile-menu-unit ul.profile .user-name, .aaMVy, section.item h1 a, .NewsTop h1 a, .dJnyIp, ._2-XdQWt, ._1QmZ6KR._3ZgfrP0 ._3hCpw86, .sc-LzMlB.eoxDYg a, .VyO6wL2, .gquzUz, .gnTzGT,
.gEjXWR, .goBDDr, .hYtGJc, .hZUOFf, ._2VgrU0G
{
  color: #eee!important;
}


/* Text color level 2 (abundand text paragraph, list) */

.ivdJmI, .eDCdKg, .ikNTyK, .fkgHVL, ._profile-menu-unit ul a, .live-name, .image-item a, .booth-follow-items .information .add-item, .ui-tag-container input,
.lequZz, ._3bJfjyp, ._2JPrxI4, .kIJClS, .hbysIF, .dxayIM, .gzWMhB, ._24FAZKN, .css-1uccc91-singleValue, ._2GGpcka
{
  color: #ddd!important;
}


/* Text color level 3 (less important things, something already seen) */

.jHYzrJ, .bzEvdX, .bpNgeQ, .tab-link, ._r18-selector-on-toppage .selector, .selector.active:hover, .tab-link, .tab-link:visited, .live-name, #user-recommend-module h2, .fIvRcO, ._3uX7m3X, .iLEzrH p,
.hWNFQY, .cuYuSa, .fGscJN, .fzmhoA, .ksYdyZ, .ceRe_cC
{
  color: #ccc!important;
}

/* Already visited darker */

.live-name:visited, .image-item a:visited, ._2D7ql0_, .H1FDXS9
{
  color: #aaa!important;
}


/* Secondary color. Interactive elements, like url/buttons  */

a, .jOQeoa
{
  transition: all .3s;
  color: rgb(12, 203, 226)!important;
}

.tab-link.active, .pcZzO.pcZzO
{
  border-top-color: rgb(12, 203, 226)!important;
}


/* Secondary color light when you hover */

a:hover, a:visited:hover, .jOQeoa:hover
{
  color: rgb(11, 229, 255)!important;
}


/* Secondary color dark already seen element for urls/anchors */

a:visited, ._profile-menu-unit ul.menu-item a .count
{
  color: rgb(10, 181, 202)!important;
}




/*



Spacial


*/


/* The effect located on the profile, left side of view profile */
._2JPrxI4:after
{
  background: linear-gradient(90deg,hsla(0,0%,100%,0),#5f5f5f)!important;
}

.jDdRUr::before
{
  background: linear-gradient(90deg,hsla(0,0%,100%,0),#545454)!important;
}



/* follow button */


._follow-button-container .follow-button, .bDzVUs, ._2Of8xxg, ._2Uvr6rs
{
  transition: all .3s;
  background: rgb(10, 215, 240)!important;
  border-color: transparent!important;
  color: #333!important;
}

._follow-button-container .follow-button:hover, .bDzVUs:hover, ._2Of8xxg:hover, ._2Uvr6rs:hover
{
  background: rgb(11, 229, 255)!important;
  border-color: transparent!important;
}

._2Of8xxg svg
{
  fill: #333!important;
  stroke: #333!important;
}

._3LhShlo
{
  background-color: #f5f5f5!important;
}

._3LhShlo:hover
{
  background-color: #d2d1d1!important;
}




/* Box shadow */

:root ._1OrT5--:focus, ._3ZcKxKV:focus
{
  box-shadow: 0 0 1px 3px rgba(12, 203, 226,.6)!important;
}


/* SVG */

button svg, a svg,  svg
{
  transition: fill .3s;
  fill: #ddd!important;
}

button:hover svg, a:hover svg, svg:hover
{
  fill: rgb(12, 203, 226)!important;
}


/* Placeholer */

::-webkit-input-placeholder
{
  /* Edge */
  color: #aaac!important;
}

:-ms-input-placeholder
{
  /* Internet Explorer 10-11 */
  color: #aaac!important;
}

::placeholder
{
  color: #aaac!important;
}


/* Scrollbar only for webkit */


::-webkit-scrollbar
{
  width: 12px;
}

::-webkit-scrollbar-track
{
  background: #777;
}

::-webkit-scrollbar-thumb
{
  background: #555;
}

::-webkit-scrollbar-thumb:hover
{
  background: #059189;
}

._profile-menu-unit ul.profile .premium-lead-premium-campaign
{
  color: #faa200!important;
}

iframe, .kllBii
{
  display: none!important;
}

.iRgkjH
{
  background-color: #222;
}
