@namespace url(http://www.w3.org/1999/xhtml);
body {
  --in-content-page-background: #23272c !important;
}

.illustrated:has(> #errorPageContainer) {
  background: #23272c !important;
}

#category-box {
  background: #23272c !important;
  --in-content-page-background: #23272c !important;
}

@supports -moz-bool-pref("browser.in-content.dark-mode") {
  @media (prefers-color-scheme: dark) {
    :root {
      --in-content-page-background: #23272c !important;
    }
  }
}

.pip-wrapper[position="top"] {
  top: 8px !important;
  right: 40px !important;
}

.pip-wrapper {
  /* transform: scale(0.8); */
  opacity: 0 !important;
}

.pip-wrapper:hover {
  opacity: 1 !important;
}

/* .pip-icon {
   width: 20px !important;
   height: 20px !important;
} */

.fbc-badge {
  display: none !important;
}

/* @namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul); */

@-moz-document url(about:privatebrowsing) {
  html, body {
    background: #23272c !important;
  }
  .logo-and-wordmark {
    display: none !important;
  }
  .search-inner-wrapper {
    display: none !important;
  }
  .promo {
    display: none !important;
  }
  .info {
    margin-top: 0px !important;
  }
}

@-moz-document url(about:newtab) {
  main {
    padding: 0;
    padding-bottom: 0px !important;
  }
  .logo-and-wordmark {
    display: none !important;
  }
  /* .prefs-button button {
  	top: 48px !important;
  } */
  .outer-wrapper.newtab-experience .top-site-outer .tile {
    background-color: var(--newtab-textbox-background-color) !important;
  }
  .outer-wrapper.newtab-experience .top-site-outer .tile {
    box-shadow: none !important;
    background-color: #2b3037 !important;
  }
  .top-site-outer .top-site-icon {
    background-color: transparent !important;
  }
  .outer-wrapper.newtab-experience:not(.dnd-active) .top-site-outer:is(.active, :focus, :hover) {
    background: #1b1e22 !important;
  }
  .outer-wrapper.newtab-experience .search-wrapper .search-handoff-button, .outer-wrapper.newtab-experience .search-wrapper input {
    background: #333942 var(--newtab-search-icon) 16px center no-repeat !important;
    box-shadow: none !important;
  }
  body {
    --newtab-background-color-secondary: #2b3037 !important;
  }
}