/*** Megabar Styler General - version 2020-04-19 ***/

/*** General Preferences ***/

:root {
  /* Number of pixels of enlargement when URL bar is focused */
  --mbarstyler-popout-pixels: 0px;
  /* [0px - 7px] */
  /* Top Bar Display or Not */
  --mbarstyler-top-bar-display: block;
  /* [block,none] */
  /* Font sizes (default: 13.8px for title, 10.2px for URL) */
  --mbarstyler-title-font-size: 13px;
  /* [13px - 18px] */
  --mbarstyler-url-font-size: 13px;
  /* [12px - 16px] */
  /* Rows to show without scrolling */
  --mbarstyler-max-rows-without-scrolling: 12;
  /* Bottom border for each result row */
  --mbarstyler-bottom-border-width: 0px;
  /* [0px or 1px] */
  /* Match display style */
  --mbarstyler-match-weight: 700;
  /* [400,700] */
  --mbarstyler-match-background-opacity: 0.0;
  /* [0.0,0.05,0.1] */
}

/*** URL bar enlargement or lack thereof ***/

/* Compute new position, width, and padding */

#urlbar[breakout][breakout-extend] {
  top: calc(5px - var(--mbarstyler-popout-pixels)) !important;
  left: calc(0px - var(--mbarstyler-popout-pixels)) !important;
  width: calc(100% + (2 * var(--mbarstyler-popout-pixels))) !important;
  padding: var(--mbarstyler-popout-pixels) !important;
}

[uidensity="compact"] #urlbar[breakout][breakout-extend] {
  top: calc(3px - var(--mbarstyler-popout-pixels)) !important;
}

[uidensity="touch"] #urlbar[breakout][breakout-extend] {
  top: calc(4px - var(--mbarstyler-popout-pixels)) !important;
}

/* Prevent shift of URL bar contents */

#urlbar[breakout][breakout-extend]>#urlbar-input-container {
  height: var(--urlbar-height) !important;
  padding: 0 !important;
}

/* Do not animate */

#urlbar[breakout][breakout-extend]>#urlbar-background {
  animation: none !important;
  ;
}

/* Remove shadows */

#urlbar[breakout][breakout-extend]>#urlbar-background {
  box-shadow: none !important;
}

/*** Top "Blue Bar" Display ***/

.urlbarView-row:first-of-type {
  display: var(--mbarstyler-top-bar-display) !important;
}

/*** Font Sizes and Scrolling ***/

/* Title font-size */

.urlbarView-row .urlbarView-title {
  font-size: var(--mbarstyler-title-font-size) !important;
}

/* URL / action font-size */

.urlbarView-row .urlbarView-secondary, .urlbarView-row .urlbarView-url, .urlbarView-row .urlbarView-action {
  font-size: var(--mbarstyler-url-font-size) !important;
}

/* Set max-height for items visible without scrolling */

#urlbarView-results, #urlbar-results {
  height: unset !important;
  max-height: calc(2.5 * (var(--mbarstyler-title-font-size) + var(--mbarstyler-bottom-border-width)) * var(--mbarstyler-max-rows-without-scrolling)) !important;
}

#urlbar-results {
  overflow-y: auto !important;
}

/* Clean up extra spacing at the top and bottom */

#urlbar-results {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

/* Subtle border between results */

.urlbarView-row:not(:last-of-type) {
  border-bottom: var(--mbarstyler-bottom-border-width) solid rgba(0, 0, 0, 0.1) !important;
}

/* Match Styling Like Fx43-47 */

[lwt-popup-darktext] .urlbarView-row:not([selected]) .urlbarView-title strong, [lwt-popup-darktext] .urlbarView-row:not([selected]) .urlbarView-url strong {
  font-weight: var(--mbarstyler-match-weight) !important;
  box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, calc(var(--mbarstyler-match-background-opacity) * 2));
  background-color: rgba(0, 0, 0, var(--mbarstyler-match-background-opacity));
  border-radius: 2px;
}

[lwt-popup-brighttext] .urlbarView-row:not([selected]) .urlbarView-title strong, [lwt-popup-brighttext] .urlbarView-row:not([selected]) .urlbarView-url strong {
  font-weight: var(--mbarstyler-match-weight) !important;
  box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, calc(var(--mbarstyler-match-background-opacity) * 2));
  background-color: rgba(255, 255, 255, var(--mbarstyler-match-background-opacity));
  border-radius: 2px;
}

/*** End of: Megabar Styler General ***/

/*** PROTON FIX ***/

/*** Tighten up drop-down/context/popup menu spacing ***/

menupopup>menuitem, menupopup>menu {
  padding-block: 4px !important;
}

:root {
  --arrowpanel-menuitem-padding: 4px 8px !important;
}

/*** Proton Tabs Tweaks ***/

/* Adjust tab corner shape, optionally remove space below tabs */

#tabbrowser-tabs {
  --user-tab-rounding: 0px;
}

@media (-moz-proton) {
  .tab-background {
    border-radius: var(--user-tab-rounding) var(--user-tab-rounding) 0px 0px !important;
    margin-block: 1px 0 !important;
  }
}

/* Tweak Options as of 5/30/2021; Generated Wed Jun 02 2021 09:45:00 GMT+0700 (Western Indonesia Time) */

/*
 * Auto-hide the URL-bar and bookmarks bar, show on hover or focus
 */

/* ------------------------- */

:root:-moz-lwtheme-brighttext, toolbar[brighttext] {
  --backbutton-active-background: hsla(0, 0%, 0%, .4);
}

:root[lwt-toolbar-field-brighttext] #urlbar-search-mode-indicator {
  /* background-color: #0060df; */
  outline: none !important;
}

tabs#tabbrowser-tabs {
  --tab-min-width: 50px !important;
}

#navigator-toolbox {
  border-bottom: none !important
}

.tabbrowser-tab[label="New Tab"] .tab-content .tab-icon-image {
  display: none !important;
}

.tabbrowser-tab[label="Private Browsing"] .tab-content .tab-icon-image {
  display: none !important;
}

@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document url(about:privatebrowsing) {
  body {
    display: none !important;
  }
}

/* @-moz-document url(about:blank) { html,body {background: #23272c !important;} } */

.titlebar-spacer[type="pre-tabs"] {
  border-inline-end: 0px solid !important;
  width: 5px !important;
}

button::-moz-focus-inner {
  border: 0;
}

@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
#main-window[privatebrowsingmode="temporary"] {
  background-color: rgba(35, 39, 44, 1) !important;
}

/* #statuspanel{color: blue; background-color: black;} */

#statuspanel-label {
  color: #89b3b6c0 !important;
  background: #23272c !important;
  border: 2px solid #23272c !important;
}

:root {
  --in-content-page-background: #23272c !important;
}

@namespace html "http://www.w3.org/1999/xhtml";
@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";
#category-box {
  background: #23272c !important;
  --in-content-page-background: #23272c !important;
}

:root {
  --in-content-page-background: #23272c !important;
}

@supports -moz-bool-pref("browser.in-content.dark-mode") {
  @media (prefers-color-scheme: dark) {
    :root {
      --in-content-page-background: #23272c !important;
    }
  }
}

browser {
  background-color: #23272c !important;
}

/* Dark context menu */

/* Colors */

@media (prefers-color-scheme: dark) {
  :root {
    --context-background: #23272c;
    --context-border: #333942;
    --context-disabled: #6d6d6d;
    --context-front: #d4f6f7;
    --context-hover: #333942;
    --context-separator: #333942;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --context-background: #eeeeee;
    /* Was #f2f2f2 in 1809 */
    --context-border: #a0a0a0;
    --context-disabled: #6d6d6d;
    --context-front: #000000;
    --context-hover: #ffffff;
    /* Was #d9d9d9 in 1809 */
    --context-separator: #919191;
  }
}

/* Comment the following out if you are using the light theme: */

#screenshots_mozilla_org-menuitem-_create-screenshot>.menu-iconic-left {
  filter: invert(1) !important;
}

/* Base */

#backForwardMenu, #contentAreaContextMenu, #customizationPaletteItemContextMenu, #customizationPanelItemContextMenu, #customization-toolbar-menu, #downloadsContextMenu, #new-tab-button-popup, #pageActionContextMenu, #PlacesChevronPopup, #placesContext, .search-one-offs-context-menu, #SyncedTabsSidebarContext, #SyncedTabsSidebarTabsFilterContext, #tabContextMenu, #tabs-newtab-button-popup, #textbox-contextmenu, .textbox-contextmenu, #toolbar-context-menu, #toolbox-menu, #widget-overflow>#customizationPanelItemContextMenu, #back-button>menupopup, #backForwardMenu menupopup, #contentAreaContextMenu menupopup, #customizationPaletteItemContextMenu menupopup, #customizationPanelItemContextMenu menupopup, #customization-toolbar-menu menupopup, #downloadsContextMenu menupopup, #forward-button>menupopup, #main-menubar menupopup, #new-tab-button-popup menupopup, #pageActionContextMenu menupopup, #PlacesChevronPopup menupopup, #placesContext menupopup, #PlacesToolbarItems .bookmark-item menupopup, .search-one-offs-context-menu menupopup, #SyncedTabsSidebarContext menupopup, #tabContextMenu menupopup, #textbox-contextmenu menupopup, .textbox-contextmenu menupopup, #toolbar-context-menu menupopup, #toolbox-menu menupopup, #viewButton>menupopup, #widget-overflow>#customizationPanelItemContextMenu menupopup, #back-button>menupopup menupopup, #forward-button>menupopup menupopup, #viewButton>menupopup menupopup {
  -moz-appearance: none !important;
  background-color: var(--context-background) !important;
  border: 1px solid var(--context-border) !important;
  padding: 4px 2px 4px 2px !important;
  margin: 0px 0px 0px 0px !important;
  min-width: 226px !important;
}

#back-button>menupopup :-moz-any(menuitem, menu), #backForwardMenu :-moz-any(menuitem, menu), #contentAreaContextMenu :-moz-any(menuitem, menu), #customizationPaletteItemContextMenu :-moz-any(menuitem, menu), #customizationPanelItemContextMenu :-moz-any(menuitem, menu), #customization-toolbar-menu :-moz-any(menuitem, menu), #downloadsContextMenu :-moz-any(menuitem, menu), #forward-button>menupopup :-moz-any(menuitem, menu), #main-menubar menupopup :-moz-any(menuitem, menu), #new-tab-button-popup :-moz-any(menuitem, menu), #pageActionContextMenu :-moz-any(menuitem, menu), #PlacesChevronPopup :-moz-any(menuitem, menu), #placesContext :-moz-any(menuitem, menu), #PlacesToolbarItems .bookmark-item menupopup :-moz-any(menuitem, menu), .search-one-offs-context-menu :-moz-any(menuitem, menu), #SyncedTabsSidebarContext :-moz-any(menuitem, menu), #tabContextMenu :-moz-any(menuitem, menu), #tabs-newtab-button-popup :-moz-any(menuitem, menu), .textbox-contextmenu :-moz-any(menuitem, menu), #toolbar-context-menu :-moz-any(menuitem, menu), #toolbox-menu :-moz-any(menuitem, menu), .urlbar-input-box .textbox-contextmenu :-moz-any(menuitem, menu), #viewButton>menupopup :-moz-any(menuitem, menu), #widget-overflow #customizationPanelItemContextMenu :-moz-any(menuitem, menu) {
  -moz-appearance: none !important;
  color: var(--context-front) !important;
  padding: 0px 0px 2px 0px !important;
  min-height: 22px !important;
}

#back-button>menupopup menugroup, #backForwardMenu menugroup, #contentAreaContextMenu menugroup, #customizationPaletteItemContextMenu menugroup, #customizationPanelItemContextMenu menugroup, #customization-toolbar-menu menugroup, #downloadsContextMenu menugroup, #forward-button>menupopup menugroup, #main-menubar menupopup menugroup, #new-tab-button-popup menugroup, #pageActionContextMenu menugroup, #PlacesChevronPopup menugroup, #placesContext menugroup, #PlacesToolbarItems .bookmark-item menupopup menugroup, .search-one-offs-context-menu menugroup, #SyncedTabsSidebarContext menugroup, #tabContextMenu menugroup, #tabs-newtab-button-popup menugroup, .textbox-contextmenu menugroup, #toolbar-context-menu menugroup, #toolbox-menu menugroup, .urlbar-input-box .textbox-contextmenu menugroup, #viewButton>menupopup menugroup, #widget-overflow #customizationPanelItemContextMenu menugroup {
  padding: 0px !important;
  background-color: transparent !important;
}

#back-button>menupopup menuseparator, #backForwardMenu menuseparator, #contentAreaContextMenu menuseparator, #customizationPaletteItemContextMenu menuseparator, #customizationPanelItemContextMenu menuseparator, #customization-toolbar-menu menuseparator, #downloadsContextMenu menuseparator, #forward-button>menupopup menuseparator, #main-menubar menupopup menuseparator, #new-tab-button-popup menuseparator, #pageActionContextMenu menuseparator, #PlacesChevronPopup menuseparator, #placesContext menuseparator, #PlacesToolbarItems .bookmark-item menupopup menuseparator, .search-one-offs-context-menu menuseparator, #SyncedTabsSidebarContext menuseparator, #tabContextMenu menuseparator, #tabs-newtab-button-popup menuseparator, .textbox-contextmenu menuseparator, #toolbar-context-menu menuseparator, #toolbox-menu menuseparator, .urlbar-input-box .textbox-contextmenu menuseparator, #viewButton>menupopup menuseparator, #widget-overflow>#customizationPanelItemContextMenu menuseparator {
  -moz-appearance: none !important;
  margin: 3px 8px 3px 8px !important;
  padding: 0 !important;
  border-top: 1px solid var(--context-separator) !important;
  border-bottom: none !important;
}

/* Checkbox and Radio Items */

#back-button menuitem[type="checkbox"], #back-button>menupopup menuitem[type="checkbox"], #backForwardMenu menuitem[type="checkbox"], #contentAreaContextMenu menuitem[type="checkbox"], #customizationPaletteItemContextMenu menuitem[type="checkbox"], #customizationPanelItemContextMenu menuitem[type="checkbox"], #customization-toolbar-menu menuitem[type="checkbox"], #downloadsContextMenu menuitem[type="checkbox"], #forward-button menuitem[type="checkbox"], #forward-button>menupopup menuitem[type="checkbox"], #main-menubar menupopup menuitem[type="checkbox"], #new-tab-button-popup menuitem[type="checkbox"], #pageActionContextMenu menuitem[type="checkbox"], #PlacesChevronPopup menuitem[type="checkbox"], #placesContext menuitem[type="checkbox"], #PlacesToolbarItems .bookmark-item menupopup menuitem[type="checkbox"], .search-one-offs-context-menu menuitem[type="checkbox"], #SyncedTabsSidebarContext menuitem[type="checkbox"], #tabContextMenu menuitem[type="checkbox"], #tabs-newtab-button-popup menuitem[type="checkbox"], .textbox-contextmenu menuitem[type="checkbox"], #toolbar-context-menu menuitem[type="checkbox"], #toolbox-menu menuitem[type="checkbox"], .urlbar-input-box .textbox-contextmenu menuitem[type="checkbox"], #viewButton>menupopup menuitem[type="checkbox"], #widget-overflow>#customizationPanelItemContextMenu menuitem[type="checkbox"] {
  -moz-appearance: none !important;
}

#back-button menuitem[checked="true"][type="checkbox"]>.menu-iconic-left, #back-button>menupopup menuitem[checked="true"][type="checkbox"]>.menu-iconic-left, #backForwardMenu menuitem[checked="true"][type="checkbox"]>.menu-iconic-left, #contentAreaContextMenu menuitem[checked="true"][type="checkbox"]>.menu-iconic-left, #customizationPaletteItemContextMenu menuitem[checked="true"][type="checkbox"]>.menu-iconic-left, #customizationPanelItemContextMenu menuitem[checked="true"][type="checkbox"]>.menu-iconic-left, #customization-toolbar-menu menuitem[checked="true"][type="checkbox"]>.menu-iconic-left, #downloadsContextMenu menuitem[checked="true"][type="checkbox"]>.menu-iconic-left, #forward-button menuitem[checked="true"][type="checkbox"]>.menu-iconic-left, #forward-button>menupopup menuitem[checked="true"][type="checkbox"]>.menu-iconic-left, #main-menubar menupopup menuitem[checked="true"][type="checkbox"]>.menu-iconic-left, #new-tab-button-popup menuitem[checked="true"][type="checkbox"]>.menu-iconic-left, #pageActionContextMenu menuitem[checked="true"][type="checkbox"]>.menu-iconic-left, #PlacesChevronPopup menuitem[checked="true"][type="checkbox"]>.menu-iconic-left, #placesContext menuitem[checked="true"][type="checkbox"]>.menu-iconic-left, #PlacesToolbarItems .bookmark-item menupopup menuitem[checked="true"][type="checkbox"]>.menu-iconic-left, .search-one-offs-context-menu menuitem[checked="true"][type="checkbox"]>.menu-iconic-left, #SyncedTabsSidebarContext menuitem[checked="true"][type="checkbox"]>.menu-iconic-left, #tabContextMenu menuitem[checked="true"][type="checkbox"]>.menu-iconic-left, #tabs-newtab-button-popup menuitem[checked="true"][type="checkbox"]>.menu-iconic-left, .textbox-contextmenu menuitem[checked="true"][type="checkbox"]>.menu-iconic-left, #toolbar-context-menu menuitem[checked="true"][type="checkbox"]>.menu-iconic-left, #toolbox-menu menuitem[checked="true"][type="checkbox"]>.menu-iconic-left, .urlbar-input-box .textbox-contextmenu menuitem[checked="true"][type="checkbox"]>.menu-iconic-left, #viewButton>menupopup menuitem[checked="true"][type="checkbox"]>.menu-iconic-left, #widget-overflow>#customizationPanelItemContextMenu menuitem[checked="true"][type="checkbox"]>.menu-iconic-left {
  -moz-appearance: none !important;
  padding: 7px 0px 0px 0px !important;
  margin-left: 7px !important;
  margin-right: -7px !important;
  border: solid var(--context-front);
  border-width: 0px 0px 2px 2px;
  transform: rotate(-45deg) scale(.75);
}

#back-button menuitem[type="radio"], #back-button>menupopup menuitem[type="radio"], #backForwardMenu menuitem[type="radio"], #contentAreaContextMenu menuitem[type="radio"], #customizationPaletteItemContextMenu menuitem[type="radio"], #customizationPanelItemContextMenu menuitem[type="radio"], #customization-toolbar-menu menuitem[type="radio"], #downloadsContextMenu menuitem[type="radio"], #forward-button menuitem[type="radio"], #forward-button>menupopup menuitem[type="radio"], #main-menubar menupopup menuitem[type="radio"], #new-tab-button-popup menuitem[type="radio"], #pageActionContextMenu menuitem[type="radio"], #PlacesChevronPopup menuitem[type="radio"], #placesContext menuitem[type="radio"], #PlacesToolbarItems .bookmark-item menupopup menuitem[type="radio"], .search-one-offs-context-menu menuitem[type="radio"], #SyncedTabsSidebarContext menuitem[type="radio"], #tabContextMenu menuitem[type="radio"], #tabs-newtab-button-popup menuitem[type="radio"], .textbox-contextmenu menuitem[type="radio"], #toolbar-context-menu menuitem[type="radio"], #toolbox-menu menuitem[type="radio"], .urlbar-input-box .textbox-contextmenu menuitem[type="radio"], #viewButton>menupopup menuitem[type="radio"], #widget-overflow>#customizationPanelItemContextMenu menuitem[type="radio"] {
  -moz-appearance: none !important;
}

#back-button menuitem[checked="true"][type="radio"]>.menu-iconic-left, #back-button>menupopup menuitem[checked="true"][type="radio"]>.menu-iconic-left, #backForwardMenu menuitem[checked="true"][type="radio"]>.menu-iconic-left, #contentAreaContextMenu menuitem[checked="true"][type="radio"]>.menu-iconic-left, #customizationPaletteItemContextMenu menuitem[checked="true"][type="radio"]>.menu-iconic-left, #customizationPanelItemContextMenu menuitem[checked="true"][type="radio"]>.menu-iconic-left, #customization-toolbar-menu menuitem[checked="true"][type="radio"]>.menu-iconic-left, #downloadsContextMenu menuitem[checked="true"][type="radio"]>.menu-iconic-left, #forward-button menuitem[checked="true"][type="radio"]>.menu-iconic-left, #forward-button>menupopup menuitem[checked="true"][type="radio"]>.menu-iconic-left, #main-menubar menupopup menuitem[checked="true"][type="radio"]>.menu-iconic-left, #new-tab-button-popup menuitem[checked="true"][type="radio"]>.menu-iconic-left, #pageActionContextMenu menuitem[checked="true"][type="radio"]>.menu-iconic-left, #PlacesChevronPopup menuitem[checked="true"][type="radio"]>.menu-iconic-left, #placesContext menuitem[checked="true"][type="radio"]>.menu-iconic-left, #PlacesToolbarItems .bookmark-item menupopup menuitem[checked="true"][type="radio"]>.menu-iconic-left, .search-one-offs-context-menu menuitem[checked="true"][type="radio"]>.menu-iconic-left, #SyncedTabsSidebarContext menuitem[checked="true"][type="radio"]>.menu-iconic-left, #tabContextMenu menuitem[checked="true"][type="radio"]>.menu-iconic-left, #tabs-newtab-button-popup menuitem[checked="true"][type="radio"]>.menu-iconic-left, .textbox-contextmenu menuitem[checked="true"][type="radio"]>.menu-iconic-left, #toolbar-context-menu menuitem[checked="true"][type="radio"]>.menu-iconic-left, #toolbox-menu menuitem[checked="true"][type="radio"]>.menu-iconic-left, .urlbar-input-box .textbox-contextmenu menuitem[checked="true"][type="radio"]>.menu-iconic-left, #viewButton>menupopup menuitem[checked="true"][type="radio"]>.menu-iconic-left, #widget-overflow>#customizationPanelItemContextMenu menuitem[checked="true"][type="radio"]>.menu-iconic-left {
  -moz-appearance: none !important;
  border: solid var(--context-front);
  height: 17px !important;
  border-radius: 100%;
  background: var(--context-front);
  margin-left: 7px !important;
  margin-right: -7px !important;
  margin-top: 1px !important;
  padding: 1px !important;
  transform: scale(0.5);
}

#back-button menuitem[type="checkbox"]>.menu-iconic-text, #back-button>menupopup menuitem[type="checkbox"]>.menu-iconic-text, #backForwardMenu menuitem[type="checkbox"]>.menu-iconic-text, #contentAreaContextMenu menuitem[type="checkbox"]>.menu-iconic-text, #customizationPaletteItemContextMenu menuitem[type="checkbox"]>.menu-iconic-text, #customizationPanelItemContextMenu menuitem[type="checkbox"]>.menu-iconic-text, #customization-toolbar-menu menuitem[type="checkbox"]>.menu-iconic-text, #downloadsContextMenu menuitem[type="checkbox"]>.menu-iconic-text, #forward-button menuitem[type="checkbox"]>.menu-iconic-text, #forward-button>menupopup menuitem[type="checkbox"]>.menu-iconic-text, #main-menubar menupopup menuitem[type="checkbox"]>.menu-iconic-text, #new-tab-button-popup menuitem[type="checkbox"]>.menu-iconic-text, #pageActionContextMenu menuitem[type="checkbox"]>.menu-iconic-text, #PlacesChevronPopup menuitem[type="checkbox"]>.menu-iconic-text, #placesContext menuitem[type="checkbox"]>.menu-iconic-text, #PlacesToolbarItems .bookmark-item menupopup menuitem[type="checkbox"]>.menu-iconic-text, .search-one-offs-context-menu menuitem[type="checkbox"]>.menu-iconic-text, #SyncedTabsSidebarContext menuitem[type="checkbox"]>.menu-iconic-text, #tabContextMenu menuitem[type="checkbox"]>.menu-iconic-text, #tabs-newtab-button-popup menuitem[type="checkbox"]>.menu-iconic-text, .textbox-contextmenu menuitem[type="checkbox"]>.menu-iconic-text, #toolbar-context-menu menuitem[type="checkbox"]>.menu-iconic-text, #toolbox-menu menuitem[type="checkbox"]>.menu-iconic-text, .urlbar-input-box .textbox-contextmenu menuitem[type="checkbox"]>.menu-iconic-text, #viewButton>menupopup menuitem[type="checkbox"]>.menu-iconic-text, #widget-overflow>#customizationPanelItemContextMenu menuitem[type="checkbox"]>.menu-iconic-text {
  margin-left: 15px !important;
  -moz-appearance: none !important;
}

#back-button menuitem[type="radio"]>.menu-iconic-text, #back-button>menupopup menuitem[type="radio"]>.menu-iconic-text, #backForwardMenu menuitem[type="radio"]>.menu-iconic-text, #contentAreaContextMenu menuitem[type="radio"]>.menu-iconic-text, #customizationPaletteItemContextMenu menuitem[type="radio"]>.menu-iconic-text, #customizationPanelItemContextMenu menuitem[type="radio"]>.menu-iconic-text, #customization-toolbar-menu menuitem[type="radio"]>.menu-iconic-text, #downloadsContextMenu menuitem[type="radio"]>.menu-iconic-text, #forward-button menuitem[type="radio"]>.menu-iconic-text, #forward-button>menupopup menuitem[type="radio"]>.menu-iconic-text, #main-menubar menupopup menuitem[type="radio"]>.menu-iconic-text, #new-tab-button-popup menuitem[type="radio"]>.menu-iconic-text, #pageActionContextMenu menuitem[type="radio"]>.menu-iconic-text, #PlacesChevronPopup menuitem[type="radio"]>.menu-iconic-text, #placesContext menuitem[type="radio"]>.menu-iconic-text, #PlacesToolbarItems .bookmark-item menupopup menuitem[type="radio"]>.menu-iconic-text, .search-one-offs-context-menu menuitem[type="radio"]>.menu-iconic-text, #SyncedTabsSidebarContext menuitem[type="radio"]>.menu-iconic-text, #tabContextMenu menuitem[type="radio"]>.menu-iconic-text, #tabs-newtab-button-popup menuitem[type="radio"]>.menu-iconic-text, .textbox-contextmenu menuitem[type="radio"]>.menu-iconic-text, #toolbar-context-menu menuitem[type="radio"]>.menu-iconic-text, #toolbox-menu menuitem[type="radio"]>.menu-iconic-text, .urlbar-input-box .textbox-contextmenu menuitem[type="radio"]>.menu-iconic-text, #viewButton>menupopup menuitem[type="radio"]>.menu-iconic-text, #widget-overflow>#customizationPanelItemContextMenu menuitem[type="radio"]>.menu-iconic-text {
  padding-left: 13px !important;
  -moz-appearance: none !important;
}

/* Disabled */

#back-button>menupopup :-moz-any(menuitem, menu)[disabled="true"], #backForwardMenu :-moz-any(menuitem, menu)[disabled="true"], #contentAreaContextMenu :-moz-any(menuitem, menu)[disabled="true"], #customizationPaletteItemContextMenu :-moz-any(menuitem, menu)[disabled="true"], #customizationPanelItemContextMenu :-moz-any(menuitem, menu)[disabled="true"], #customization-toolbar-menu :-moz-any(menuitem, menu)[disabled="true"], #downloadsContextMenu :-moz-any(menuitem, menu)[disabled="true"], #forward-button>menupopup :-moz-any(menuitem, menu)[disabled="true"], #main-menubar menupopup :-moz-any(menuitem, menu)[disabled="true"], #new-tab-button-popup :-moz-any(menuitem, menu)[disabled="true"], #pageActionContextMenu :-moz-any(menuitem, menu)[disabled="true"], #PlacesChevronPopup :-moz-any(menuitem, menu)[disabled="true"], #placesContext :-moz-any(menuitem, menu)[disabled="true"], #PlacesToolbarItems .bookmark-item menupopup :-moz-any(menuitem, menu)[disabled="true"], .search-one-offs-context-menu :-moz-any(menuitem, menu)[disabled="true"], #SyncedTabsSidebarContext :-moz-any(menuitem, menu)[disabled="true"], #tabContextMenu :-moz-any(menuitem, menu)[disabled="true"], #tabs-newtab-button-popup :-moz-any(menuitem, menu)[disabled="true"], .textbox-contextmenu :-moz-any(menuitem, menu)[disabled="true"], #toolbar-context-menu :-moz-any(menuitem, menu)[disabled="true"], #toolbox-menu :-moz-any(menuitem, menu)[disabled="true"], .urlbar-input-box .textbox-contextmenu :-moz-any(menuitem, menu)[disabled="true"], #viewButton>menupopup :-moz-any(menuitem, menu)[disabled="true"], #widget-overflow #customizationPanelItemContextMenu :-moz-any(menuitem, menu)[disabled="true"] {
  -moz-appearance: none !important;
  color: var(--context-disabled) !important;
}

#back-button>menupopup :-moz-any(menuitem, menu)[disabled="true"]:hover, #backForwardMenu :-moz-any(menuitem, menu)[disabled="true"]:hover, #contentAreaContextMenu :-moz-any(menuitem, menu)[disabled="true"]:hover, #customizationPaletteItemContextMenu :-moz-any(menuitem, menu)[disabled="true"]:hover, #customizationPanelItemContextMenu :-moz-any(menuitem, menu)[disabled="true"]:hover, #customization-toolbar-menu :-moz-any(menuitem, menu)[disabled="true"]:hover, #downloadsContextMenu :-moz-any(menuitem, menu)[disabled="true"]:hover, #forward-button>menupopup :-moz-any(menuitem, menu)[disabled="true"]:hover, #main-menubar menupopup :-moz-any(menuitem, menu)[disabled="true"]:hover, #new-tab-button-popup :-moz-any(menuitem, menu)[disabled="true"]:hover, #pageActionContextMenu :-moz-any(menuitem, menu)[disabled="true"]:hover, #PlacesChevronPopup :-moz-any(menuitem, menu)[disabled="true"]:hover, #placesContext :-moz-any(menuitem, menu)[disabled="true"]:hover, #PlacesToolbarItems .bookmark-item menupopup :-moz-any(menuitem, menu)[disabled="true"]:hover, .search-one-offs-context-menu :-moz-any(menuitem, menu)[disabled="true"]:hover, #SyncedTabsSidebarContext :-moz-any(menuitem, menu)[disabled="true"]:hover, #tabContextMenu :-moz-any(menuitem, menu)[disabled="true"]:hover, #tabs-newtab-button-popup :-moz-any(menuitem, menu)[disabled="true"]:hover, .textbox-contextmenu :-moz-any(menuitem, menu)[disabled="true"]:hover, #toolbar-context-menu :-moz-any(menuitem, menu)[disabled="true"]:hover, #toolbox-menu :-moz-any(menuitem, menu)[disabled="true"]:hover, .urlbar-input-box .textbox-contextmenu :-moz-any(menuitem, menu)[disabled="true"]:hover, #viewButton>menupopup :-moz-any(menuitem, menu)[disabled="true"]:hover, #widget-overflow #customizationPanelItemContextMenu :-moz-any(menuitem, menu)[disabled="true"]:hover {
  -moz-appearance: none !important;
  background-color: transparent !important;
}

/* Hover */

#back-button>menupopup :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]), #backForwardMenu :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]), #customizationPaletteItemContextMenu :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]), #customizationPanelItemContextMenu :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]), #customization-toolbar-menu :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]), #downloadsContextMenu :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]), #forward-button>menupopup :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]), #main-menubar menupopup :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]), #new-tab-button-popup :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]), #contentAreaContextMenu :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]), #pageActionContextMenu :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]), #PlacesChevronPopup :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]), #placesContext :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]), #PlacesToolbarItems .bookmark-item menupopup :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]), .search-one-offs-context-menu :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]), #SyncedTabsSidebarContext :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]), #tabContextMenu :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]), #tabs-newtab-button-popup :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]), .textbox-contextmenu :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]), #toolbar-context-menu :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]), #toolbox-menu :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]), .urlbar-input-box .textbox-contextmenu :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]), #viewButton>menupopup :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]), #widget-overflow #customizationPanelItemContextMenu :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]) {
  -moz-appearance: none !important;
  background-color: var(--context-hover) !important;
}

/* Icons */

#back-button menuitem>.menu-iconic-left, #back-button>menupopup menuitem>.menu-iconic-left, #backForwardMenu menuitem>.menu-iconic-left, #contentAreaContextMenu menuitem>.menu-iconic-left, #customizationPaletteItemContextMenu menuitem>.menu-iconic-left, #customizationPanelItemContextMenu menuitem>.menu-iconic-left, #customization-toolbar-menu menuitem>.menu-iconic-left, #downloadsContextMenu menuitem>.menu-iconic-left, #forward-button menuitem>.menu-iconic-left, #forward-button>menupopup menuitem>.menu-iconic-left, #main-menubar menupopup .menu-iconic-left, #new-tab-button-popup menuitem>.menu-iconic-left, #pageActionContextMenu menuitem>.menu-iconic-left, #PlacesChevronPopup menuitem>.menu-iconic-left, #placesContext menuitem>.menu-iconic-left, #PlacesToolbarItems .bookmark-item menupopup menuitem>.menu-iconic-left, .search-one-offs-context-menu menuitem>.menu-iconic-left, #SyncedTabsSidebarContext menuitem>.menu-iconic-left, #tabContextMenu menuitem>.menu-iconic-left, #tabs-newtab-button-popup menuitem>.menu-iconic-left, .textbox-contextmenu menuitem>.menu-iconic-left, #toolbar-context-menu menuitem>.menu-iconic-left, #toolbox-menu menuitem>.menu-iconic-left, .urlbar-input-box .textbox-contextmenu menuitem>.menu-iconic-left, #viewButton>menupopup menuitem>.menu-iconic-left, #widget-overflow>#customizationPanelItemContextMenu menuitem>.menu-iconic-left {
  -moz-appearance: none !important;
  padding: 0px 6px 0px 8px !important;
}

#back-button>menupopup .menu-right, #backForwardMenu .menu-right, #contentAreaContextMenu .menu-right, #customizationPaletteItemContextMenu .menu-right, #customizationPanelItemContextMenu .menu-right, #customization-toolbar-menu .menu-right, #downloadsContextMenu .menu-right, #forward-button>menupopup .menu-right, #main-menubar menupopup .menu-right, #new-tab-button-popup .menu-right, #pageActionContextMenu .menu-right, #PlacesChevronPopup .menu-right, #placesContext .menu-right, #PlacesToolbarItems .bookmark-item menupopup .menu-right, .search-one-offs-context-menu .menu-right, #SyncedTabsSidebarContext .menu-right, #tabContextMenu .menu-right, #tabs-newtab-button-popup .menu-right, .textbox-contextmenu .menu-right, #toolbar-context-menu .menu-right, #toolbox-menu .menu-right, .urlbar-input-box .textbox-contextmenu .menu-right, #viewButton>menupopup .menu-right, #widget-overflow #customizationPanelItemContextMenu .menu-right {
  -moz-appearance: none !important;
  margin-right: 6px !important;
  padding: 7.5px !important;
  color: var(--context-front) !important;
  border: solid var(--context-front);
  border-width: 0px 2px 2px 0px;
  transform: rotate(-45deg) scale(.55);
}